<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspch08ex01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서브렛 초기값을 사용하려면 mapping도 여기서 설정하고 서브렛의 @WebServlet은 사용하지 않아야 한다 -->
  <servlet>
  	<servlet-name>ServletInitParam</servlet-name>
  	<servlet-class>com.kjh.ch08ex01.ServletInit</servlet-class>
  	<!-- init-param은 서브렛의 초기값 설정 -->
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>abcdef</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pw</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  	<init-param>
  		<param-name>path</param-name>
  		<param-value>C"\\javalec\\workspace</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletInitParam</servlet-name>
  	<url-pattern>/ServI</url-pattern>
  </servlet-mapping>
</web-app>